
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
    background-size:cover;
    background-position:center; /* Ajusta esta propiedad */
  }
  
  
  
  header h1 {
    font-size: 48px;
    margin-top: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  header p {
    font-size: 24px;
    margin-bottom: 0;
    opacity: 0.8;
  }
  
  header .header-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  header a.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff5f6d;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  
  header a.btn:hover {
    background-color: #ff3d52;
  }
  
  
  /* Resto de tus estilos CSS */
  
  
  
  main {
    padding: 40px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .portfolio-item {
    margin-bottom: 20px;
  }
  
  .portfolio-item img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .portfolio-item h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .portfolio-item p {
    font-size: 16px;
    margin-bottom: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  